.pagina {
    display: flex;
    height: 100vh;
    background: #bfbfbf;
}

/* Conteúdo */
.conteudo {
    flex: 1;
    padding: 40px;
    align-items: center;
    align-self: center;
    padding-left: 700px;
    
}

.conteudo h1 {
    font-size: 32px;
    margin-bottom: 30px;
}

/* Caixa central */
.caixa-conta {
    background: #f5f5f5;
    border: 1px solid #999;
    border-radius: 10px;
    padding: 30px 50px;
    max-width: 700px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);

}

/* Perfil */
.perfil {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.icone-usuario {
    font-size: 40px;
}

/* Linhas de informação */
.linha-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.linha-info strong {
    min-width: 70px;
}

.linha-info a {
    margin-left: auto;
    font-size: 12px;
    text-decoration: none;
    color: #333;
}

/* Botões */
.btn-sair {
    background: #b3b3b3;
    border: none;
    padding: 8px 15px;
    margin-top: 15px;
    cursor: pointer;
}

.btn-excluir {
    background: #b30000;
    color: #fff;
    border: none;
    padding: 8px 15px;
    margin-top: 14px;
    float: right;
    cursor: pointer;
    text-align: center;
}
.btn-excluir a {
justify-content: center;
    text-align: center;
    align-items: center;
}