body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #222;
  color: #fff;
  height: 100vh;
  padding: 1rem;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  margin: 10px 0;
}

.content {
  padding: 2rem;
  flex: 1;
}
